:root {
    --primary-clr: #004AAD;
    --black: #000;
    --white: #fff;
    --dark: #0d1216b3;
    --shade: #191919;
}


.highlight {
    width: 100%;
    min-height: 100dvh;
    background: var(--shade);
    padding: 10px;
}

.com-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cli-cli {
    margin-bottom: 10px;
}

.highlight .title {
    font-size: 50px;
    text-align: center;
}

.cli-logo {
    width: 300px;
    margin-top: 15px;
    /* border: 1px solid red; */
}

.art-logo {
    margin-left: -50px;
}

.cli-info {
    color: var(--white);
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 10px;
}

.art-info {
    margin-top: -45px;
}

.dl-btn {
    background-color: var(--primary-clr);
    color: var(--white);
    padding: 5px 25px 5px 25px;
    text-transform: uppercase;
    font-family: "Antonio", sans-serif;
    font-size: 25px;
    cursor: pointer;
    margin-left: 0;
    margin-top: 10px;
}

.cli-vid {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cli-vid video, .cli-img {
    width: 320px;
}

.pic-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ii, .iv {
    display: flex;
    flex-direction: column;
}

.con-img {
    display: flex;
    flex-direction: column;
}

.glo-img {
    width: 200px;
}

.jtda {
    width: 300px;
}

/* .pic-con {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
} */

/* .i-1 { 
    grid-area: 1 / 1 / 2 / 2; 
} 
.i-2 { 
    grid-area: 2 / 1 / 3 / 2; 
} 
.i-3 { 
    grid-area: 3 / 1 / 4 / 2; 
} 
.i-4 { 
    grid-area: 4 / 1 / 5 / 2; 
}  */

/* island end */

/* xs */
@media (width >= 475px) {
    .highlight .title {
        font-size: 50px;
    }
    
    .cli-logo {
        width: 300px;
        margin-left: 0;
        /* border: 1px solid red; */
    }

    .art-logo {
        margin-left: -50px;
    }
    
    .cli-info {
        font-weight: 700;
        line-height: 23px;
        font-size: 18px;
    }
    
    .dl-btn {
        padding: 5px 25px 5px 25px;
        font-size: 25px;
        margin-left: 0;
        margin-top: 10px;
    }
    
    .cli-vid video, .cli-img {
        width: 400px;
    }

    .glo-img {
        width: 250px;
    }
    /* island end */
}

/* sm */
@media (width >= 640px) {
    .highlight .title {
        font-size: 60px;
    }
    
    .cli-logo {
        width: 300px;
        margin-left: 0;
        /* border: 1px solid red; */
    }

    .art-logo {
        margin-left: -50px;
    }
    
    .cli-info {
        font-weight: 700;
        line-height: 23px;
        font-size: 17px;
    }
    
    .dl-btn {
        padding: 5px 25px 5px 25px;
        font-size: 30px;
        margin-left: 0;
        margin-top: 10px;
    }
    
    .cli-vid video, .cli-img {
        width: 420px;
    }

    .glo-img {
        width: 280px;
    }
    /* island end */

    .pic-con {
        flex-direction: row;
    }

    /* .ii, .iv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } */

    .fire-img {
        width: 300px;
        height: 350px;
    }

    
}

/* md */
@media (width >= 768px) {
    .highlight .title {
        font-size: 60px;
    }
    
    .cli-logo {
        width: 300px;
        margin-left: 0;
        /* border: 1px solid red; */
    }

    .art-logo {
        margin-left: -50px;
    }
    
    .cli-info {
        font-weight: 700;
        line-height: 23px;
        font-size: 19px;
        width: 700px;
        margin-bottom: 10px;
        /* border: 1px solid red; */
    }
    
    .dl-btn {
        padding: 5px 25px 5px 25px;
        font-size: 30px;
        margin-left: 0;
        /* margin-bottom: 50px; */
    }

    .cli-cli {
        margin-bottom: 20px;
    }
    
    .cli-vid video, .cli-img {
        width: 420px;
    }

    .glo-img {
        width: 300px;
    }

    .fire-img {
        width: 300px;
        height: 350px;
    }
    /* island end */
}

/* lg */
@media (width >= 1024px) {

    .com-con {
        flex-direction: row;
    }

    .highlight .title {
        font-size: 60px;
    }
    
    .cli-logo {
        width: 300px;
        margin-left: 0;
        /* border: 1px solid red; */
    }

    .art-logo {
        margin-left: -50px;
    }
    
    .cli-info {
        font-weight: 700;
        line-height: 23px;
        font-size: 19px;
        width: 700px;
        margin-bottom: 10px;
        margin-right: 10px;
        /* border: 1px solid red; */
    }

    .fire-cli {
        margin-left: 10px;
    }

    .fire-info {
        width: 600px;
        /* margin-left: 10px; */
        /* font-size: 17px; */
    }
    
    .dl-btn {
        padding: 5px 25px 5px 25px;
        font-size: 30px;
        margin-left: 0;
        margin-top: 10px;
    }
    
    .cli-vid video, .cli-img {
        width: 290px;
    }

    .fire-img {
        width: 200px;
        height: 250px;
    }
    /* island end */
}

/* xl */
@media (width >= 1280px) {

    .highlight .title {
        font-size: 65px;
    }

    .cli-logo {
        width: 350px;
        margin-left: 0;
        /* border: 1px solid red; */
    }

    .art-logo {
        margin-left: -50px;
    }
    
    .cli-info {
        font-weight: 700;
        line-height: 23px;
        font-size: 20px;
        width: 850px;
        margin-bottom: 10px;
        margin-right: 10px;
        /* border: 1px solid red; */
    }

    .fire-cli {
        margin-left: 40px;
    }

    .fire-info {
        width: 600px;
    }
    
    .dl-btn {
        padding: 5px 25px 5px 25px;
        font-size: 30px;
        margin-left: 0;
        margin-top: 10px;
    }
    
    .cli-vid video, .cli-img {
        width: 330px;
    }

    .fire-img {
        width: 250px;
        height: 250px;
    }
    /* island end */
}

/* 2xl */
@media (width >= 1536px) {
    .highlight .title {
        font-size: 70px;
    }

    .cli-logo {
        width: 400px;
        margin-left: 0;
        /* border: 1px solid red; */
    }

    .art-logo {
        margin-left: -50px;
    }
    
    .cli-info {
        font-weight: 700;
        line-height: 26px;
        font-size: 22px;
        width: 900px;
        margin-bottom: 10px;
        margin-right: 10px;
        /* border: 1px solid red; */
    }
    
    .dl-btn {
        padding: 5px 25px 5px 25px;
        font-size: 30px;
        margin-left: 0;
        margin-top: 10px;
    }
    
    .cli-vid video{
        width: 380px;
    }
    /* island end */

    .cli-img {
        width: 400px;
        margin-right: -20px;
    }

    .fire-info {
        width: 690px;
    }

    .fire-cli {
        margin-left: 120px;
    }

    .fire-img {
        width: 250px;
        height: 250px;
    }

    .glo-img {
        width: 280px;
    }
}

/* desktop */
@media (width >= 1900px) {

    .cli-logo {
        width: 400px;
        margin-left: 0;
        /* border: 1px solid red; */
    }

    .art-logo {
        margin-left: -50px;
    }
    
    .cli-info {
        font-weight: 700;
        line-height: 26px;
        font-size: 22px;
        width: 1200px;
        margin-bottom: 10px;
        margin-right: 10px;
        /* border: 1px solid red; */
    }
    
    .dl-btn {
        padding: 5px 25px 5px 25px;
        font-size: 30px;
        margin-left: 0;
        margin-top: 10px;
    }
    
    .cli-vid video {
        width: 400px;
    }

    /* island end */

    .cli-img {
        width: 450px;
        margin-right: -35px;
    }

    .glo-img {
        width: 280px;
    }

    .pic-con {
        margin-left: -140px;
    }

    .fire-img {
        width: 250px;
        height: 300px;
    }
}