:root {
    --primary-clr: #004AAD;
    --black: #000;
    --white: #fff;
    --dark: #0d1216b3;
    --shade: #191919;
}


.contact {
    width: 100%;
    min-height: 100dvh;
    background-image: url(/assets/images/contact-bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--shade);
    font-family: "Antonio", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact .title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact-info {
    text-align: center;
}

.head {
    font-family: "Antonio", sans-serif;
    color: var(--white);
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 5px;
}

.contact a {
    color: var(--white);
    font-size: 27px;
}

.logos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.logo-set {
    display: flex;
    flex-direction: column;
}

.logo-set img{
    width: 200px;
}

/* xs */
@media (width >= 475px) { 
    
    .head {
        font-size: 35px;
        margin-bottom: 5px;
    }
    
    .contact a {
        font-size: 27px;
    }
    
    .logos {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .logo-set {
        display: flex;
        flex-direction: column;
    }
    
    .logo-set img{
        width: 200px;
    }
}

/* sm */
@media (width >= 640px) {
    
    .head {
        font-size: 45px;
        margin-bottom: 5px;
    }
    
    .contact a {
        font-size: 30px;
    }
    
    .logo-set img{
        width: 250px;
    }
}

/* md */
@media (width >= 768px) {
    .head {
        font-size: 45px;
        margin-bottom: 5px;
    }
    
    .contact a {
        font-size: 30px;
    }
    
    .logo-set img{
        width: 250px;
    }

    .logo-set .fire-img {
        width: 180px;
        height: 180px;
        margin-left: 50px;
        /* border: 1px solid red; */
    }
}

/* lg */
@media (width >= 1024px) {
    .head {
        font-size: 45px;
        margin-bottom: 5px;
    }
    
    .contact a {
        font-size: 30px;
    }

    .logo-set {
        margin-right: 20px;
    }
    
    .logo-set img{
        width: 250px;
    }

    .logos {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
}

/* xl */
@media (width >= 1280px) {
    .head {
        font-size: 50px;
        margin-bottom: 5px;
    }
    
    .contact a {
        font-size: 35px;
    }

    .logo-set {
        margin-right: 30px;
    }

    .logo-set .fire-img {
        width: 180px;
        height: 180px;
        margin-left: 50px;
        /* border: 1px solid red; */
    }
    
    .logo-set img{
        width: 280px;
    }

    .logos {
        margin-top: 20px;
    }

    
}

/* 2xl */
@media (width >= 1536px) {
    .head {
        font-size: 50px;
        margin-bottom: 5px;
    }
    
    .contact a {
        font-size: 35px;
    }

    .logo-set {
        margin-right: 50px;
    }

    .logo-set .fire-img {
        width: 180px;
        height: 180px;
        margin-left: 50px;
        /* border: 1px solid red; */
    }
    
    .logo-set img{
        width: 320px;
    }

    .logos {
        margin-top: 20px;
    }
}

/* desktop */
@media (width >= 1900px) {
    .head {
        font-size: 50px;
        margin-bottom: 5px;
    }
    
    .contact a {
        font-size: 35px;
    }

    .logo-set {
        margin-right: 50px;
    }

    .logo-set .fire-img {
        width: 180px;
        height: 180px;
        margin-left: 50px;
        /* border: 1px solid red; */
    }
    
    .logo-set img{
        width: 320px;
    }

    .logos {
        margin-top: 20px;
    }
}