@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
:root {
    --primary-clr: #004AAD;
    --black: #000;
    --white: #fff;
    --dark: #0d1216b3;
    --shade: #191919;
}

html {
    scroll-behavior: smooth;
}

/* font-family: "Antonio", sans-serif; */


.hero {
    /* border: 1px solid red; */
    width: 100%;
    min-height: 100vh;
    background-color: var(--shade);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
}

.side-con {
    text-align: center;
}

.logo-img {
    width: 250px;
    /* border: 1px solid red; */
}

.title {
    color: var(--white);
    text-transform: uppercase;
    font-family: "Antonio", sans-serif;
    font-weight: 700;
    font-size: 75px;
    z-index: 1;
    /* border: 1px solid red; */
}

.words {
    line-height: 85px;
    margin-top: -35px;
}

.blue {
    color: var(--primary-clr);
    font-family: "Antonio", sans-serif;
}

.slogan {
    color: var(--white);
    text-transform: uppercase;
    font-size: 18px;
    margin-top: -20px;
    /* border: 1px solid red; */
}

.hero-img {
    width: 350px;
    /* border: 1px solid red; */
}

/** xs **/
@media (width >= 475px) {
    .logo-img {
        width: 300px;
    }

    .title {
        font-size: 85px;
    }

    .slogan {
        font-size: 20px;
    }

    .hero-img {
        width: 430px;
    }
}

/** sm **/
@media (width >= 640px) {
    .logo-img {
        width: 300px;
    }

    .words {
        line-height: 95px;
    }

    .title {
        font-size: 100px;
    }

    .slogan {
        font-size: 25px;
    }

    .hero-img {
        width: 500px;
    }
}

/** md **/
@media (width >= 768px) {
    .logo-img {
        width: 350px;
    }

    .words {
        line-height: 120px;
    }

    .title {
        font-size: 120px;
    }

    .slogan {
        font-size: 30px;
        margin-top: -40px;
    }

    .hero-img {
        width: 550px;
    }
}

/** lg **/
@media (width >= 1024px) {

    .hero {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        align-items: center;
        /* border: 1px solid red; */
        /*! TEST CODE BELOW  */
        min-height: 70vh;
    }

    .side-con {
        margin-left: 50px;
        /* border: 1px solid red; */
        position: absolute;
        top: 0;
    }

    .logo-img {
        width: 310px;
    }

    .words {
        line-height: 90px;
    }

    .title {
        font-size: 90px;
    }

    .slogan {
        font-size: 25px;
        margin-top: -10px;
    }

    .hero-img {
        width: 450px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    
}

/** xl **/
@media (width >= 1280px) {

    .hero {
        /*! TEST CODE BELOW */
        min-height: 100vh;
    }
    
    .side-con {
        margin-left: 90px;
        /* border: 1px solid red; */
    }

    .logo-img {
        width: 350px;
    }

    .words {
        line-height: 110px;
    }

    .title {
        font-size: 120px;
    }

    .slogan {
        font-size: 25px;
        margin-top: -10px;
    }

    .hero-img {
        width: 520px;
    }

}
/* ideapad gaming 3 */
/** 2xl **/
@media (width >= 1536px) {

    .hero {
        /*! TEST CODE BELOW */
        min-height: 90vh;
    }

    .side-con {
        margin-left: 120px;
        /* border: 1px solid red; */
    }

    .logo-img {
        width: 380px;
    }

    .words {
        line-height: 120px;
        margin-top: -50px;
    }

    .title {
        font-size: 140px;
    }

    .slogan {
        font-size: 30px;
        margin-top: -10px;
    }

    .hero-img {
        width: 560px;
    }
}

@media (width >= 1700px) {
    .hero {
        /*! TEST CODE BELOW */
        min-height: 80vh;
    }

    .side-con {
        margin-left: 200px;
        /* border: 1px solid red; */
    }

    .logo-img {
        width: 400px;
    }

    .words {
        line-height: 150px;
        margin-top: -50px;
    }

    .title {
        font-size: 160px;
    }

    .slogan {
        font-size: 35px;
        margin-top: -10px;
    }

    .hero-img {
        width: 620px;
    }
}

/** desktop **/
/* @media (width >= 1900px) {
    
} */