*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-clr: #004AAD;
    --black: #000;
    --white: #fff;
    --dark: hsla(210, 26%, 7%, 0.7);
    --shade: #191919;
}

.header {
    text-align: center;
    height: 60px;
    background-color: var(--shade);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 80;
}

.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    height: 100%;
}

.nav-link {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--white);
    transition: .5s ease;
    font-weight: 700;
}

.nav-link:hover {
    background-color: var(--primary-clr);
}

.navbar svg {
    fill: var(--white);
    cursor: pointer;
}

#sidebar-active {
    display: none;
}

.open-sidebar-btn, .close-sidebar-btn {
    display: none;
}

@media (width <= 767px){
    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 999;
        width: 250px;
        background-color: var(--shade);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: .75s ease-out;
    }

    .nav-item {
        width: 100%;
    }

    .nav-link {
        height: 20px;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-btn, .close-sidebar-btn {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .nav-list {
        right: 0;
    }

    #sidebar-active:checked ~ .open-sidebar-btn {
        display: none;
    }

    #sidebar-active:checked ~ #overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 9;
        top: 0;
        left: 0;
    }
}