:root {
    --primary-clr: #004AAD;
    --black: #000;
    --white: #fff;
    --dark: #0d1216b3;
    --shade: #191919;
}

.portfolio {
    width: 100%;
    min-height: 100vh;
    background-color: var(--shade);
    text-align: center;
}

.port-title {
    color: var(--white);
    font-family: "Antonio", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.port-sub {
    color: var(--white);
    text-transform: capitalize;
    font-family: "Antonio", sans-serif;
    font-size: 30px;
}

.portfolio img {
    width: 300px;
}






/* xs */
/* @media (width >= 475px) {} */

/* sm */
/* @media (width >= 640px) {} */

/* md */
/* @media (width >= 768px) {} */

/* lg */
/* @media (width >= 1024px) {} */

/* xl */
/* @media (width >= 1280px) {} */

/* 2xl */
/* @media (width >= 1536px) {} */

/* desktop */
/* @media (width >= 1900px) {} */