:root {
    --primary-clr: #004AAD;
    --black: #000;
    --white: #fff;
    --dark: #0d1216b3;
    --shade: #191919;
}

.portfolio {
    width: 100%;
    min-height: 100dvh;
    background-color: var(--shade);
    text-align: center;
}

.port-title {
    color: var(--white);
    font-family: "Antonio", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.sec {
    margin-top: 10px;
}

.port-sub {
    color: var(--white);
    text-transform: capitalize;
    font-family: "Antonio", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.portfolio img {
    width: 320px;
}

.img-hold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-hold img {
    margin-bottom: 10px;
}

.vid-hold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio video {
    width: 320px;
    margin-bottom: 15px;
}

/* xs */
@media (width >= 475px) {
    .port-title {
        font-size: 50px;
    }
    
    .sec {
        margin-top: 10px;
    }
    
    .port-sub {
        font-size: 40px;
    }
    
    .portfolio img {
        width: 400px;
    }
    
    .portfolio video {
        width: 400px;
    }
}

/* sm */
@media (width >= 640px) {
    .port-title {
        font-size: 55px;
    }
    
    .port-sub {
        font-size: 45px;
    }
    
    .portfolio img {
        width: 450px;
    }
    
    .portfolio video {
        width: 450px;
    }
}

/* md */
@media (width >= 768px) {
    .port-title {
        font-size: 60px;
    }
    
    .port-sub {
        font-size: 50px;
    }
    
    .portfolio img {
        width: 500px;
    }
    
    .portfolio video {
        width: 500px;
    }
}

/* lg */
@media (width >= 1024px) {
    .img-hold {
        flex-direction: row;
    }
    
    .vid-hold {
        flex-direction: row;
    }

    .port-title {
        font-size: 60px;
    }
    
    .port-sub {
        font-size: 50px;
    }
    
    .portfolio img {
        width: 320px;
        margin-right: 10px;
    }
    
    .portfolio video {
        width: 320px;
        margin-right: 20px;
    }
}

/* xl */
@media (width >= 1280px) {
    .port-title {
        font-size: 60px;
    }
    
    .port-sub {
        font-size: 50px;
    }
    
    .portfolio img {
        width: 360px;
        margin-right: 10px;
    }
    
    .portfolio video {
        width: 360px;
        margin-right: 20px;
    }
}

/* 2xl */
@media (width >= 1536px) {
    .port-title {
        font-size: 80px;
    }
    
    .port-sub {
        font-size: 60px;
    }
    
    .portfolio img {
        width: 420px;
        margin-right: 10px;
    }
    
    .portfolio video {
        width: 400px;
        margin-right: 20px;
    }
}

/* desktop */
/* @media (width >= 1900px) {} */